
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculadora</title>
</head>
<body>
    <div> 
    <h1 style="color:red;">Calculadora mais completa</h1>

        <!-- enviar as escolhas do utilizador para o servidor-->
        <!-- esta linha de comentario é visivel no 'cliente'-->
        @* mas esta nao o é...*@
        <form method="post">
            <table border="1">
                <tr>
                    <td colspan="5">
                        <input type="text" name="display" readonly="readonly" 
                                style="height:35px;width:275px;text-align:right;    "
                                value="@ViewBag.Display"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="7" name="bt" style="height:50px;width:50px;" />
                    </td>
                    <td>
                        <input type="submit" value="8" name="bt" style="height:50px;width:50px;"/>
                    </td>
                    <td>
                        <input type="submit" value="9" name="bt" style="height:50px;width:50px;"/>
                    </td>
                    <td>
                        <input type="submit" value=":" name="bt" style="height:50px;width:50px;"/>
                    </td>
                    <td>
                        <input type="submit" value="+/-" name="bt" style="height:50px;width:50px;"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="4" name="bt" style="height:50px;width:50px;"/>
                    </td>
                    <td>
                        <input type="submit" value="5" name="bt" style="height:50px;width:50px;"/>
                    </td>
                    <td>
                        <input type="submit" value="6" name="bt" style="height:50px;width:50px;"/>
                    </td>
                    <td>
                        <input type="submit" value="X" name="bt" style="height:50px;width:50px;"/>
                    </td>
                    <td>
                        <input type="submit" value="C" name="bt" style="height:50px;width:50px;"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="1" name="bt" style="height:50px;width:50px;"/>
                    </td>
                    <td>
                        <input type="submit" value="2" name="bt" style="height:50px;width:50px;"/>
                    </td>
                    <td>
                        <input type="submit" value="3" name="bt" style="height:50px;width:50px;"/>
                    </td>
                    <td>
                        <input type="submit" value="-" name="bt" style="height:50px;width:50px;"/>
                    </td>
                    <td rowspan="2">
                        <input type="submit" value="=" name="bt" style="height:110px;width:50px;"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="0" name="bt" style="height:50px;width:110px;"/>
                    </td>
                    <td>
                        <input type="submit" value="," name="bt" style="height:50px;width:50px;"/>
                    </td>
                    <td>
                        <input type="submit" value="+" name="bt" style="height:50px;width:50px;"/>
                    </td>
                </tr>

            </table>
            

        </form>


    </div>
</body>
</html>
